<form autocomplete="off">

    <div id="capa_inicio" class="capa_modal_light" style="display: inline; background: url(/src/app/assets/img/centinela-login-background.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; opacity: 0.4;">
      
    </div>
    
    <div style="width: 100%;">
      
      <div class="ventana_modal" style="width: 96%; max-width: 330px;">
          
        <div style="width: 100%;">
          <div class="contenedor_inicio">
            <div style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center; margin-top: 20px;">
              <img src="/src/app/assets/img/ERP_logo.png" width="100">
              <p style="width: 100%; font-weight: bold; font-size: 35px; color: #4C4741; text-align: center; margin-top: 5px;">ERP</p>
              <p style="width: 100%; font-weight: bold; font-size: 18px; color: #4C4741; text-align: center; margin-top: 10px;">Librería Virtual</p>
            </div>

            <p style="margin-top: 30px; font-weight: bold; color: #dc143c;">Correo electrónico:</p>
            <input [(ngModel)]="userMail" name="userMail" type="text" class="caja2" style="margin-top: 5px;" placeholder="Usuario">

            <p style="margin-top: 20px; font-weight: bold; color: #dc143c;">Contraseña:</p>
            <input [(ngModel)]="password" name="password"  type="password" class="caja2" style="margin-top: 5px;" placeholder="Contraseña">

            <a class="btn_google3" style="width: 100%; display: block; margin-top: 20px;" (click)="login()">Iniciar sesión</a>

            <p id="lkbforget" style="margin-top: 17px; color: dimgray; text-align: center; cursor: pointer; font-size: 13px;">¿Olvidaste tu contraseña?</p>

          </div>
        </div>
      </div>
      
    </div>

  </form>